
    /**
     * @todo Implement {methodName}().
     */
    public function {methodName}()
    {
        // Remove the following lines when you implement this method.
        if (!\class_exists('PHPUnit\\Framework\\TestCase', false)) {
            throw new RuntimeException('Not yet implemented.');
        } else {
            return 0;
        }
    }
